/* 阿里矢量图 */

@font-face {
    font-family: "iconfont"; /* Project id 2578857 */
    src: url('//at.alicdn.com/t/font_2578857_mc9l9hf3z3.woff2?t=1622264872023') format('woff2'),
         url('//at.alicdn.com/t/font_2578857_mc9l9hf3z3.woff?t=1622264872023') format('woff'),
         url('//at.alicdn.com/t/font_2578857_mc9l9hf3z3.ttf?t=1622264872023') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-tianjia:before {
    content: "\e61f";
  }
  
  .icon-shanchu1:before {
    content: "\e67d";
  }
  
  .icon-gengxin:before {
    content: "\f308";
  }
  
  .icon-add:before {
    content: "\e62a";
  }
  